@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.fieldDescriptor {
  @apply bg-slate-400 inline outline outline-1 border-cyan-800;
}

.addButton {
  @apply bg-green-600 text-white;
}

.removeButton {
  @apply bg-red-600 text-white;
}

.fieldValueText {
  @apply border border-gray-400 rounded-md text-black;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
